<div class="row">
    <div class="col-lg-12" id="tituloexp"><h1>Experiencia Laboral</h1></div>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Trabajo o Estudio 1</h1> - <h3>years</h3>
            </li>
            <p>Descripcion Sobre el Primer trabajo que tuve</p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo o Estudio 2</h1> - <h3>years</h3>
            </li>
            <p>Descripcion Sobre el Primer trabajo que tuve</p>
        </ul>

        <ul>
            <li>
                <h1>Trabajo o Estudio 3</h1> - <h3>years</h3>
            </li>
            <p>Descripcion Sobre el Primer trabajo que tuve</p>
        </ul>

    </div>
</div>
