
<div class="row">
    <div class="col-lg-12" id="titulohab"><h1>Habilidades</h1></div>
    
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    <div class="col-lg-4 ciculo">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
    
</div>